<div class="form">
  <div class="inputs">
    <p>Nombre</p>
    <input type="text" [(ngModel)]='disk.name'>
    <p>Año</p>
    <input type="number" [(ngModel)]='disk.year'>
    <p>Autor</p>
    <input type="text" [(ngModel)]='disk.author'>
    <p>Género</p>
    <input type="text" [(ngModel)]='disk.genre'>
    <p>Imagen de portada</p>
    <input type="text" [(ngModel)]='disk.img'>
    <p>Numero total de pistas</p>
    <input type="number" [(ngModel)]='disk.tracksNumber'>  
  </div>
  <button (click)='insertDisk()'>Insertar Disco</button>
</div>



<div class="card">
  <div class="card__details" *ngFor='let album of albumArray'>
    <img src="{{album.img}}" alt="{{album.name}}">
    <h3>{{album.name}}</h3>
    <p>Año: {{album.year}}</p>
    <p>Autor: {{album.author}}</p>
    <p>Género: {{album.genre}}</p>
    <p>Total canciones: {{album.tracksNumber}}</p>
  </div>
</div>

<div class="card">
  <div class="card__details" *ngFor='let album of discs'>
    <img src="{{album.img}}" alt="{{album.name}}">
    <h3>{{album.name}}</h3>
    <p>Año: {{album.year}}</p>
    <p>Autor: {{album.author}}</p>
    <p>Género: {{album.genre}}</p>
    <p>Total canciones: {{album.tracksNumber}}</p>
  </div>
</div>
