.inputs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2em 2em 1em;
    align-items: center;
    background-color: darkkhaki;

    input{
        background-color: lightgray;
        border: 0px;
        font-size: 1.4rem;
        width:95vw;
    }
}

.card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    
    .card__details{
        background-color: darkslateblue;
        color: lightblue;
        text-align: center;
        padding: 1em;
        margin: 1em;

        img{
            height: 200px;
            width: auto;
        }
    }
}